.form-control-primary {
    margin: 10px;
    opacity: 0.2;
    border-radius: 2px;
  }
.accordionblock {
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  overflow: hidden;
  padding: 10px 5px 10px 5px;
  border-right: 0px solid #d3d3d3;
  border-left:  0px solid #d3d3d3;
}

