{% extends 'layouts/base.html' %}

{% block title %} Welcome {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="../../static/css/email_collapsible.css" />

{% endblock stylesheets %}

{% block content %}
<div class="flex-container" style="overflow: hidden;">
    <div class="row">
      <div class="col-md-12  flex-container bg-light  md-block accordionblock" >
          <div class="mb-3" style="padding-left: 20px;">
            <form class="form-inline my-2 my-lg-0" method="POST" action="/auth">
                <div class="mb-3" style="padding-left: 20px;">
                    <b>Login with your Email provider:</b><br/>
                    <input type="text" hidden id="grant_login" name="grant_login" value="TRUE" />
                    <p>To access 3 word email you need to login with your preffered email provider and grant access to Nylas API <br/>
                    </p>
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Continue</button>
                </div>
                </form>
          </div>
            <ul class="nav flex-column">
                <li >
                  <button class="accordion">
                    <div class="threewords"><b>3 word email</b></div> 
                    <br/>
                    Abhishek Ulayil | Developer<br/>
                    <span class="category"> 
                    ★  PROMOTIONS  SYSTEM | At 29-08-2024</span></button>
                  <div class="panel">
                    <p>Subject : 3 word email : Browse through your E-mails quickly</p><br/>
                    <div class="mb-3" >
                      <p style="border: 1px;">
                        There are many ways one can categorize the mails, one common way is to categorize all the emails into seperate folders in the order of their priority.<br/>
                         However, this is more of a hassle where you need to check each folder to lookout for the email wrongly categorized, which could have been important you.<br/>
                        The idea of 3 word email is not to categorize but to summarize the contents mostly to 3 words, which along with the senders name and email address should be a<br/>
                        good indicator of whether the email is worth your time or not. Lastly to read the complete rendered email you can click on the card to view the email.<br/>
                         This mechanism puts you in charge, where you decide which email is worthy of your time to read in depth. This can be a good excercise to do in the mornings where<br/>
                        you can glance over the 3 words of each mail, decide which ones are important to you at that moment and read it at that moment.
                        <br/><br/>
                        This email app is not a replacement for the traditional email clients, but rather a companion which does not overwhelm you with lots of information,<br/>
                         which does not make categorization decisions for you, but lets you exercise that in a productive manner.<br/>
                        Another great feature to reduce the anxiety from lots of emails is time based filter options available on the top of the main screen.<br/>
                         This ensures that you do not get caught up Looking at old/irrelevant emails repeateadly.
                      </p>
                      </div>
                    </div>   
                </li> 
                <li >
                    <button class="accordion">
                        <div class="threewords"><b>App Usage Disclaimer</b></div> 
                        <br/>
                        Abhishek Ulayil | Developer <br/> 
                        <span class="category"> 
                        ★  DISCLAIMER  SYSTEM | At 29-08-2024</span></button>
                        <div class="panel">
                            <p>Subject : Read before you link your email</p><br/>
                              
                            <div class="mb-3" >
                                This project is open source and the licensed under MIT license, by continuing to use this app you accept the License and understand the risks involved. <br/>
                                As the Developer of this project I provide absolutely no warranties and will not be responsible for any liabilities / damages that may arise using this app.<br/>
                                Read the source code <a class="btn btn-outline-primary my-2 my-sm-0" href='https://github.com/Abhi-1U/3-word-email'>here</a>
                            </div>
                        </div>
                </li>
                <li >
                    <button class="accordion">
                        <div class="threewords"><b>MIT License File</b></div> 
                        <br/>
                        Abhishek Ulayil | Developer<br/> 
                        <span class="category"> 
                        ★  LICENSE  SYSTEM  | At 29-08-2024</span></button>
                        <div class="panel">
                            <p>Subject : This app is licensed under MIT LICENSE</p><br/>
                              
                            <div class="mb-3" >
                                <p>
MIT License<br/><br/>

Copyright (c) 2024 Abhishek Ulayil<br/><br/>
                                    
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:<br/><br/>
                                    
The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.<br/><br/>
                                    
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.<br/>
                                </p>
                            </div>
                        </div>
                </li>
             </ul>
        </div>
      </div>
  </div>
  
  <script>
      var acc = document.getElementsByClassName("accordion");
      for (var i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.maxHeight) {
                  panel.style.maxHeight = null;
              } else {
                  panel.style.maxHeight = panel.scrollHeight + "px";
              }
          });
      }
    var categories = document.getElementsByClassName("category");
    for (var j = 0;j<categories.length;j++) {
      var cat_text = categories[j].textContent;
      const regex1 = "UPDATES";
      const regex2 = "FORUM";
      const regex3 = "PROMOTIONS";
      const regex4 = "SOCIAL";
      const regex5 = "DISCLAIMER";
      const regex6 = "LICENSE";
      if (cat_text.match(regex1) != null) {
        acc[j].style.background = '#FFFAA0';
        acc[j].style.color = '#000000';
      }
      if (cat_text.match(regex2) != null) {
        acc[j].style.background = '#C3B1E1';
        acc[j].style.color = '#000000';
      }
      if (cat_text.match(regex3) != null) {
        acc[j].style.background = '#C1E1C1';
        acc[j].style.color = '#000000';
      }
      if (cat_text.match(regex4) != null) {
        acc[j].style.background = '#A7C7E7';
        acc[j].style.color = '#000000';
      }
      if (cat_text.match(regex5) != null) {
        acc[j].style.background = '#FAA0A0';
        acc[j].style.color = '#000000';
      }
      if (cat_text.match(regex6) != null) {
        acc[j].style.background = '#FAC898';
        acc[j].style.color = '#000000';
      }
    }
  </script>
{% endblock content %}