{% extends 'layouts/base.html' %}

{% block title %} Reply {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="../../static/css/email_collapsible.css" />

{% endblock stylesheets %}

{% block content %}
<div class="flex-container" style="overflow: hidden;">
  <div class="row">
    <div class="col-md-12  flex-container bg-light  md-block accordionblock" >
        <div class="mb-3" style="padding-left: 20px;">
          You have {{message_count}} Emails in the Last {{td}} Hours |
          <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/?timedelta=24';">24 H</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/?timedelta=48';">48 H</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/?timedelta=72';">72 H</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/?timedelta=96';">96 H</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/?timedelta=168';">7 D</button>
          <button class="btn btn-outline-primary my-2 my-sm-0" onclick="location.href='/?timedelta=336';">14 D</button>
        </div>
          <ul class="nav flex-column">
              {% if message_count == 0 %}
              <div class="mb-3" style="padding-left: 20px;">
                Looks like you have no new Emails 😄
              </div>
              {% endif %}
              {% for i in range(0,message_count) %}
              <li class="nav-item">
                <button class="accordion">
                  <div class="threewords"><b>{{emails[i]}}</b></div> 
                  <br/>
                  {% set senders = (messages[i].from_ |length) %}
                  {% set folder_len = folders[i] | length %}
                  {% for j in range(0,senders) %} 
                  {{messages[i].from_[j]['name']}} | {{messages[i].from_[j]['email']}} <br/> 
                  {% endfor %}
                  {% for j in range(0,folder_len) %}
                  {% if (j== (folder_len-1)) %}
                    {{folders[i][j]|replace("CATEGORY_", "")|replace("IMPORTANT","★")}} |
                  {% else %}
                  {{folders[i][j]|replace("CATEGORY_", "")|replace("IMPORTANT","★")}}
                  {% endif %}
                  {% endfor %}
                  At {{dates[i]}}</button>
                <div class="panel">
                  <p>Subject : {{messages[i].subject}}</p><br/>
                    <iframe style="width: 100%; height: 400px; overflow:auto;" srcdoc="{{messages[i].body | e}}"></iframe>
                    <div>
                      <form class="form-inline my-2 my-lg-0" method="POST" action="/reply">
                        <div class="mb-3">
                          Quick Reply : <input type="text" hidden id="message_id" name="message_id" value="{{messages[i].id}}" />
                          <input type="text" hidden id="reply_type" name="reply_type" value="DRAFT" />
                           <input type="text" class="form-control" id="reply" name="reply" aria-describedby="reply">
                          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Reply</button>
                        </div>
                      </form>
                    </div>
                  </div> 
              </li> 
              {% endfor %}
           </ul>
      </div>
    </div>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    for (var i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
            }
        });
    }
</script>
{% endblock content %}